body {
  background-color: #f2eae2;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Garante que a div ocupe a altura total da janela */
}

p,
h1,
h2,
span,
a {
  margin: 0;
  padding: 0;
}

.product-card {
  display: flex;
  height: 450px;
  width: 600px;
}

.product-card__img {
  width: 50%;
  border-radius: 12px 0 0 12px;
}

.product-card-description {
  width: 50%;
  background-color: white;
  text-align: center;
  border-radius: 0 12px 12px 0;
  padding: 32px;
  height: 100%;
  box-sizing: border-box; /* faz com que as margens não somem no tamanho */
}
.product-card-description-text-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #6c7289;
  font-size: 12px;
  text-align: left;
  letter-spacing: 5px;
}

.product-card-description-text-second-heading {
  font-family: "Fraunces", serif;
  color: #1c232b;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin: 20px 0;

  /*text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); */ /*sombra desativada */
}
.product-card-description-description {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #6c7289;
  font-weight: 500;
  text-align: left;
  line-height: 23px;
  margin: 24px 0;
}

.price-tag {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.price-tag-promotion {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  color: #3d8168;
  line-height: 32px;
  margin-right: 19px;
}
.price-tag-old {
  font-family: "Montserrat", sans-serif;
  color: #6c7289;
  font-size: 13px;
  font-weight: 500;
  font-style: cross;
  text-decoration: line-through;
}
.add-to-cart {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  color: #ffffff;
  background-color: #3d8168;
  margin: 30px 0;
  height: 48px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
